#Folders
img/
__pycache__/
#Files
coastal_dynamic.json
coastal_metadata.json
coastal_static.json
deep_sea_dynamic.json
deep_sea_metadata.json
deep_sea_static.json
land_dynamic.json
land_metadata.json
land_static.json
hierarchical_world_random.png
hierarchical_world_type.png
colors_precip.png
colors_temp.png
terrain_map.png